* {
    box-sizing: border-box;
}

h2 {
    text-shadow: 1px 1px 3px gray;
    text-align: center;
    border-bottom: 1px solid black;
    box-shadow: 1px 1px 3px gray;
    margin-top: 0;
    margin-bottom: 0;
    width: 100%;
}

#container {
    display: flex;
    flex-direction: row;
    height: calc(100vh - 144px);
    width: 100vw;
    background-color: #fff;
}

#question-container {
    display: flex;
    flex-direction: column;
    gap: .25rem;
    width: 50%;
}

.survey-container {
    width: 100%;
    padding: 0;
    overflow-y: scroll;
}

.survey-container::-webkit-scrollbar {
    display: none;
}

.save-survey {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    padding: 0.25rem 0.5rem;
    justify-content: center;
    align-items: center;
    background-color: lightgray;
    border: 3px solid gray;
}

.save-survey input {
    width: 15rem;
}

.save-survey label, button {
    font-weight: bold;
}

.save-survey button {
    font-size: large;
    width: max-content;
    height: max-content;
    padding: 0.25rem 0.5rem;
    background-color: #28A745;
    color: white;
    border-radius: 0.25rem;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

#question-details {
    width: 35%;
    display: flex;
    flex-direction: column;
    gap: .25rem;
    border-left: 1px solid black;
    box-shadow: 1px 1px 3px gray;
    overflow-y: scroll;
}

#question-details::-webkit-scrollbar {
    display: none;
}

#question-types {
    width: 15%;
    display: flex;
    flex-direction: column;
    gap: .25rem;
    border-right: 1px solid black;
}

.question-types-container {
    width: 100%;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: .25rem;
    align-items: center;
    overflow-y: scroll;
}

.question-types-container::-webkit-scrollbar {
    display: none;
}

.question-type {
    align-self: center;
    width: 90%;
    background-color: inherit;
    border-radius: .25rem;
    padding: 0 .5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
}

.question-type:hover {
    box-shadow: 1px 1px 3px black;
}

.add-question-btn {
    font-size: large;
    padding: 0.25rem;
    margin: .5rem 0;
    height: max-content;
    background-color: inherit;
    color: black;
    border-radius: 0.25rem;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.add-question-btn:hover {
    background-color: #3c009d;
    color: white;
}

.add-question-form {
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;
}

.add-question-form input {
    width: 100%;
    padding: 0.25rem;
}

.add-question-form input[type="checkbox"] {
    width: fit-content;
}

.add-question-form input[type="range"] {
    width: 75%;
}

.add-question-form .text-range {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    align-items: center;
}

.add-question-form .text-range output {
    font-weight: bold;
}

.add-question-form button {
    font-size: large;
    width: max-content;
    height: max-content;
    padding: 0.25rem 0.5rem;
    background-color: #28A745;
    color: white;
    border-radius: 0.25rem;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.add-question-form label {
    font-weight: bold;
}